.header {
  width: 100vw;
  height: 70px;
  position: relative;
  z-index: 5;
}

.fullnav{
  background-color: #012!important;
}

.fullnav a {
  color: #fff!important;
}

.st0, .st1, .st2, .st3{fill: #fff!important;}


.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}


main {
  min-height: calc(100vh - 204px);
  display: flex;
  justify-content: center;
  padding: 30px 35px;
}

.contato{
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contato h3{
  margin: 0 0 30px 5px;
  font-weight: 300;
  color: #012;
  font-size: 2.2em;
}

.contato input, .contato textarea{
  width: 100%;
  height: 45px;
  border: solid 1px grey;
  border-radius: 25px;
  padding: 0 20px;
  transition: .4s;
  font-size: 1em
}

.contato textarea{
  height: 100px;
  padding: 15px 20px;
  border-radius: 20px;
}

.contato input:focus, .contato textarea:focus{
  border-color: #0cc;
  outline: none;
}

.contato input[type=submit]{
  height: 45px;
  border: none;
  background-color: #012;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.contato p, .contato a, .contato .erro{
  font-weight: 300;
  color: grey;
  text-align: center;
  max-width: 250px;
  margin-bottom: 5px;
}

.contato a {
  color: #09f;
}


footer {
  margin: 50px;
  border-top: solid #ccc 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  margin: 10px 0;
  color: #09f;
  font-weight: 400;
}

footer a:first-child{
  margin-top: 30px;
}

footer .selecionado {color: #ccc;}

footer .bordaVerde{border: solid 1px red!important;}
















/**/
