
.header {
  width: 100vw;
  height: 70px;
  position: relative;
  z-index: 5;
}

.fullnav{
  background-color: #012!important;
}

.fullnav a {
  color: #fff!important;
}

.st0, .st1, .st2, .st3{fill: #fff!important;}


.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}


main {
  min-height: calc(100vh - 204px);
  display: flex;
  justify-content: center;
  padding: 30px 35px;
}

.login{width: 400px;}

.login h3{
  margin: 0 0 30px 5px;
  font-weight: 300;
  color: #012;
  font-size: 2.2em;
}

.login input{
  width: 400px;
  height: 45px;
  border: solid 1px grey;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 0 20px;
  transition: .4s;
  font-size: 1em
}

.login input:focus{
  border-color: #0cc;
  outline: none;
}

.login input:nth-last-child(0){
  height: 45px;
  border: none;
  background-color: #012;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.login p, .login a{
  font-weight: 300;
}

.login a {
  color: #09f;
  text-decoration: underline;
}


footer {
  margin: 50px;
  border-top: solid #ccc 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  margin: 10px 0;
  color: #09f;
  font-weight: 400;
}

footer a:first-child{
  margin-top: 30px;
}

footer .selecionado {color: #ccc;}

/**/
