*{
    margin:0;
    padding:0;
}
.header {
  width: 100vw;
  height: 60px;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}

.hamburger{
  width: 60px;
  height: 100%;
}

.hamburger svg{width: 1.2em;}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #051523;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
  justify-content: space-around;
}

hr {
  width: 75vw;
  color: #c9c9c9;
  margin: 15px 0;
}

.menu-buttons {min-height: 50vh;}

.menu-buttons li {font-size: 1.5em}

.menu-buttons i {
  font-size: .8em;
  margin-right: 4px
}

.title, .subtitle {font-size: 1.2em;}

.title {font-size: 1.3em}

.profile-photo-menu {
  width: 33%;
  padding-top: 33%;
  border-radius: 70px;
  margin: 60px 0 10px;
}

.active-menu .fullnav {right: 0;}


*:not(i) {font-family: Roboto!important;}

main {
  width: 100vw;
  min-height: 100vh;
  padding: 70px 0 0 0;
  /*background: #F7FDFD; /*ou FAFEFE*/
}

.recebeDados{
    border:none;
    display: flex;
    justify-content: center;

}
.setinha{
    display: flex;
    align-self: flex-start;
    margin-left: 10px;
}
body{
    background-color: #fff
}

.headerPrimeiroAcesso{
    background-color: #003366;
    width: 100%;
    height: 60px;
    border-bottom: 10px solid #00CCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.headerPrimeiroAcesso a img{
    width: 80px;
    height: 80px;

}

.table-remove{
    float: right
}   

.blank{
    margin-bottom: 50px;
}
.acessoUm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;

}

p.vsf{
    font-size: 16px;
    color: #666;
    padding: 10px;
    text-align: center;
}
.perfil-foto{
    border-radius: 25px;
    z-index: 1;
}
.form{
    margin-top: 10px;
    padding:10px;

    text-align: left;
}
.acessoUm form h2{
    font-size: 30px;
    color: #003366;
    margin: 5px;
    text-align: center;}

.acessoUm label{
    font-size: 14px;
    color: #666;
    display: block;
}
.acessoUm input{
    margin-bottom: 30px;
    height: 30px;
    width: 280px;
    border:none;
    border:none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background:none;
}
.recebeDados{
    text-align: left;
    font-size: 20px;
   
}
/****/

.puto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}

a.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}



#alteraFoto{
    z-index: 2;
    width: 35px;
    height:35px;
    position: relative;
    top: -50px;
    right: -50px;
}

h1{
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 30px;
}

#line{
    height:1px;
    border: 2px solid #B7D6EC;
    margin-bottom: 10px;
}


#posiciona{
    width:600px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  padding:10px;
    
}

p#puxar1, p#puxar2, p#puxar3{
    width:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:-70px;

}
input#IdCheck0, input#IdChecke0, input#IdCheckee0
{
    width:200px;

}