*{
    margin:0;
    padding:0;
}
.header {
  width: 100vw;
  height: 70px;
}

.logo {
  width: 2.6em;
  height: 2.6em;
  margin-left: 15px;
}

.hamburger{
  width: 70px;
  height: 100%;
}

.hamburger svg{
  width: 1.2em;
}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #051523;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
}

hr {
  width: 75vw;
  color: #c9c9c9;
  margin: 30px 0;
}

.menu-buttons {min-height: 350px;}

.menu-buttons li {font-size: 1.6em}

.menu-buttons i {
  font-size: .9em;
  margin-right: 4px
}

.title, .subtitle {font-size: 1.3em;}

.title {font-size: 1.4em}

.profile-photo-menu {
  width: 25%;
  padding-top: 25%;
  border-radius: 160px;
  margin: 70px 0 20px;
}

.active-menu .fullnav {right: 0;}



*:not(i) {font-family: Roboto!important;}


main {
  width: 100vw;
  min-height: 100vh;
  padding: 80px 20px 0 30px;
  background: #f7f7f7; /*ou FAFEFE*/
}

.recebeDados{
    border:none;
    display: flex;
    justify-content: center;

}
.setinha{
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
}
.blank{
    margin-bottom: 50px;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}

.headerPrimeiroAcesso{
    background-color: #003366;
    width: 100%;
    height: 60px;
    border-bottom: 10px solid #00CCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 50px 0;
}
.headerPrimeiroAcesso a img{
    width: 80px;
    height: 80px;

}
.table-remove{
    float: right
}   
 
.acessoUm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;

}
.acessoUm p {
    font-size: 20px;
    
}
p.vsf{
    font-size: 16px;
    color: #666;
    padding: 10px;
    text-align: center;
}
.perfil-foto{
    width: 176px;
    height:176px;
    border-radius: 25px;
    z-index: 1;
}
.acessoUm form{
    text-align: left;
    margin:10px;
}
.acessoUm form h2{
    font-size: 30px;
    color: #003366;
    margin: 5px;
    text-align: center;}

.acessoUm label{
    color: #666;
    font-size: 18px;
    display: block;
}
.acessoUm input{
    margin-bottom: 10px;
    height: 30px;
    width: 700px;
    border:none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background:none;
}
.recebeDados{
    text-align: left;
    font-size: 20px;
    margin: 15px;
}


#plus{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: block;

}    


/****/



.puto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}

a.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}



#alteraFoto{
    z-index: 2;
    width: 35px;
    height:35px;
    position: relative;
    top: -50px;
    right: -50px;
}

#line{
    height:1px;
    border: 2px solid #B7D6EC;
    margin-bottom: 10px;
}
#posiciona{
    width:600px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
  padding:10px;
    
  }
  
  .centraliza{
    width:20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin-left:20px;
  
  }
  
  .inputRadio{
    max-width:35px;
  }
  label{
    margin:10px;
  }
  #seta{
    text-align: left;
    width: 40px;
  }

  /*
  <style type="text/css">
                .alunos{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                }
                .botaozin{
                  color: darkblue;
                  
                }
                a.botaozera{
                    text-align: center;
                    width: 135px;
                    height: 60px;
                    font-size: 18px;
                    background: #00CCCC;
                    font-weight: bold;
                    color: white;
                    border: 0 none;
                    cursor: pointer;
                    padding: 10px 5px;
                    margin: 10px 5px;
                    text-decoration: none;
                    border-radius: 15px;
                }
            </style>

            <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="../../css/cssOperacaoCurso/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)"
              href="../../css/cssOperacaoCurso/style768.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)"
              href="../../css/cssOperacaoCurso/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="../../css/cssOperacaoCurso/style1366.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="../../js/script.js"> </script>