.header {
  width: 100vw;
  height: 60px;
  position: relative;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}

.hamburger{
  width: 60px;
  height: 100%;
}

.hamburger svg{width: 1.2em;}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #051523;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
  justify-content: space-around;
}

hr {
  width: 75vw;
  color: #c9c9c9;
  margin: 15px 0;
}

.menu-buttons {min-height: 50vh;}

.menu-buttons li {font-size: 1.5em}

.menu-buttons i {
  font-size: .8em;
  margin-right: 4px
}

.title, .subtitle {font-size: 1.2em;}

.title {font-size: 1.3em}

.profile-photo-menu {
  width: 33%;
  padding-top: 33%;
  border-radius: 70px;
  margin: 60px 0 10px;
}

.active-menu .fullnav {right: 0;}

/*horario saude*/
main{
  display:block;
}

.header_profile{
  background-color: #8DBFE8;
  text-align: center;
  padding: 5px;
  color: #fff;
  box-shadow:#ccc 2px 2px 5px;
}

.header_profile img{
  border-radius: 50px;
  margin: 5px;
  width: 105px;
  height:105px;

}

.periodo,.semana{
  text-align: center;
  padding: 5px;
 
}
.semana li{
  display: inline-block;
  padding: 5px;
}
.periodo a, .semana a{
  color: #051523;
  
}

.segunda,.terca,.quarta,.quinta,.sexta{
  height: 200px;
  overflow: scroll
}
.topico_horario{
 
  margin:3px;
  color: #fff;
  width: auto;
  height: 70px;
  background-color: #169BD5;
  text-align: center;
  flex-wrap: wrap
  }

.hora, .outras_info{
  display: inline-block;
  padding: 3px;  
  height: 70px; 
  align-items: center;
}
.outras_info{
 padding-top: 5%;
}

.all{
 
  text-align: center;
  padding: 10px;

}
.horario {
margin-top: 15px;
}
.all input[type="radio"]{
  display:inline-flex;
  visibility: hidden;
  margin-left: -10px;
}


#checkmanha:checked ~ #labelManha{
    color: #169BD5;
    font-weight: bold;
    text-decoration: underline #169BD5;
}

#checktarde:checked ~ #labelTarde{
  color: #169BD5;
  font-weight: bold;
  text-decoration: underline #169BD5;
}
#checknoite:checked ~ #labelNoite{
  color: #169BD5;
  font-weight: bold;
  text-decoration: underline #169BD5;
}








#mseg:checked ~ #labelmseg{
  color: #169BD5;
  font-weight: bold;
}
#mter:checked ~ #labelmter{
  color: #169BD5;
  font-weight: bold;
}#mqua:checked ~ #labelmqua{
  color: #169BD5;
  font-weight: bold;
}#mqui:checked ~ #labelmqui{
  color: #169BD5;
  font-weight: bold;
}
#msex:checked ~ #labelmsex{
  color: #169BD5;
  font-weight: bold;
}


#tseg:checked ~ #labeltseg{
  color: #169BD5;
  font-weight: bold;
}
#tter:checked ~ #labeltter{
  color: #169BD5;
  font-weight: bold;
}#tqua:checked ~ #labeltqua{
  color: #169BD5;
  font-weight: bold;
}#tqui:checked ~ #labeltqui{
  color: #169BD5;
  font-weight: bold;
}
#tsex:checked ~ #labeltsex{
  color: #169BD5;
  font-weight: bold;
}



#nseg:checked ~ #labelnseg{
  color: #169BD5;
  font-weight: bold;
}
#nter:checked ~ #labelnter{
  color: #169BD5;
  font-weight: bold;
}#nqua:checked ~ #labelnqua{
  color: #169BD5;
  font-weight: bold;
}#nqui:checked ~ #labelnqui{
  color: #169BD5;
  font-weight: bold;
}
#nsex:checked ~ #labelnsex{
  color: #169BD5;
  font-weight: bold;
}



/*dando hide nos troço*/
/*PERIODO*/




#checkmanha:checked ~ .manha{
  display:block;

}
#checkmanha:not(:checked) ~ .manha{
  display:none;
}


#checktarde:checked ~ .tarde{
  display:block;
}
#checktarde:not(:checked) ~ .tarde{
  display:none;
}


#checknoite:checked ~ .noite{
  display:block;
}
#checknoite:not(:checked) ~ .noite{
  display:none;
}


/*SEMANHA MANHÃ*/


#mseg:checked ~ .segunda{
  display:block;
}
#mseg:not(:checked) ~ .segunda{
  display:none;
}

#mter:checked ~ .terca{
  display:block;
}
#mter:not(:checked) ~ .terca{
  display:none;
}

#mqua:checked ~ .quarta{
  display:block;
}
#mqua:not(:checked) ~ .quarta{
  display:none;
}

#mqui:checked ~ .quinta{
  display:block;
}
#mqui:not(:checked) ~ .quinta{
  display:none;
}

#msex:checked ~ .sexta{
  display:block;
}
#msex:not(:checked) ~ .sexta{
  display:none;
}





/*SEMANHA TARDE*/


#tseg:checked ~ .segunda{
  display:block;
}
#tseg:not(:checked) ~ .segunda{
  display:none;
}

#tter:checked ~ .terca{
  display:block;
}
#tter:not(:checked) ~ .terca{
  display:none;
}

#tqua:checked ~ .quarta{
  display:block;
}
#tqua:not(:checked) ~ .quarta{
  display:none;
}

#tqui:checked ~ .quinta{
  display:block;
}
#tqui:not(:checked) ~ .quinta{
  display:none;
}

#tsex:checked ~ .sexta{
  display:block;
}
#tsex:not(:checked) ~ .sexta{
  display:none;
}


/*SEMANHA NOITE*/


#nseg:checked ~ .segunda{
  display:block;
}
#nseg:not(:checked) ~ .segunda{
  display:none;
}

#nter:checked ~ .terca{
  display:block;
}
#nter:not(:checked) ~ .terca{
  display:none;
}

#nqua:checked ~ .quarta{
  display:block;
}
#nqua:not(:checked) ~ .quarta{
  display:none;
}

#nqui:checked ~ .quinta{
  display:block;
}
#nqui:not(:checked) ~ .quinta{
  display:none;
}

#nsex:checked ~ .sexta{
  display:block;
}
#nsex:not(:checked) ~ .sexta{
  display:none;
}

/*add consulta*/
.add_consulta{
   margin: 10px 20px;
  
}
.add_consulta h1{
  font-size: 20px;
  font-weight: 700;
  color: #169BD5;
  text-align: center;
}
.add_consulta label {
  display: block;
  
}

.add_consulta form{
  margin: 10px 20px;
}

.partForm{
  display: inline-block;
  margin: 10px;

}

.partForm input[type="text"]{
    width: 200px;

}

.add_consulta input[type="submit"]{
  Width: 200px;
  text-align: center;
  height: 50px;
  font-weight: bolder;
  color: #fff;
  background-color: #169BD5;
  border: none;
  margin: 20px;
  font-size:16px;
}

/*login*/
.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
#logomobile{
  width: 60%;
  margin-bottom: 40px;
}

.login input{
display:block;
margin-bottom: 20px;
width: 250px;
height: 40px;
border: 1px solid #ccc;
border-radius: 15px;
}

.login input[type="submit"]{
  font-size: 20px;
  background-color: #169BD5;
  color: #fff;
  font-weight: 900
}