* {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {scroll-behavior: smooth;}

img{
  max-width: 100%;
}

a {text-decoration: none}
