.recebeDados{
    border: 1px solid #000;
    margin-top: 10px;
}
.acessDenied{
    display: none
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: #fff
}

.headerPrimeiroAcesso{
    background-color: #003366;
    width: 100%;
    height: 60px;
    border-bottom: 10px solid #00CCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.headerPrimeiroAcesso a img{
    width: 80px;
    height: 80px;

}

.acessoUm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;

}
.acessoUm p {
    font-size: 20px;
    color: #666;
    max-width: 500px;
}
p.vsf{
    font-size: 20px;
    color: #666;
    max-width: 500px;
    padding: 10px;
    text-align: center;
}
.perfil-foto{
    width: 176px;
    height:176px;
    border-radius: 25px;
    z-index: 1;
}
.acessoUm form{
    text-align: left;
    padding: 30px;
}
.acessoUm form h2{
    font-size: 30px;
    color: #003366;
    margin: 5px;
    text-align: center;}

.acessoUm label{

    font-size: 20px;
    display: block;
}
.acessoUm input{
    margin-bottom: 10px;
    height: 30px;
    width: 700px;
    border:none;
    border-bottom: 3px solid #666;

}
.recebeDados{
    text-align: left;
    font-size: 20px;
    margin: 15px;
}


#plus{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: block;

}    


/****/



.puto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}

a.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}



#alteraFoto{
    z-index: 2;
    width: 35px;
    height:35px;
    position: relative;
    top: -50px;
    right: -50px;
}