*{
    margin:0;
    padding:0;
}

.recebeDados{
    border:none;
    display: flex;
    justify-content: center;

}

.blank{
    margin-bottom: 50px;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}

.headerPrimeiroAcesso{
    background-color: #003366;
    width: 100%;
    height: 60px;
    border-bottom: 10px solid #00CCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 50px 0;
}
.headerPrimeiroAcesso a img{
    width: 80px;
    height: 80px;

}
.table-remove{
    float: right
}   
 
.acessoUm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;

}
.acessoUm p {
    font-size: 20px;
    
}
p.vsf{
    font-size: 16px;
    color: #666;
    padding: 10px;
    text-align: center;
}
.perfil-foto{
    width: 176px;
    height:176px;
    border-radius: 25px;
    z-index: 1;
}
.acessoUm form{
    text-align: left;
    margin:10px;
}
.acessoUm form h2{
    font-size: 30px;
    color: #003366;
    margin: 5px;
    text-align: center;}

.acessoUm label{
    color: #000;
    font-size: 18px;
    display: block;
}
.acessoUm input{
    margin-bottom: 10px;
    height: 30px;
    width: 700px;
   border:none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background:none;

}
.recebeDados{
    text-align: left;
    font-size: 20px;
    margin: 15px;
}

#line{
    height:1px;
    border: 2px solid #B7D6EC;
    margin-bottom: 10px;
}

#plus{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: block;

}    


/****/



.puto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}

a.buttonNext {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 26px;
    background: #00CCCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 15px;
}



#alteraFoto{
    z-index: 2;
    width: 35px;
    height:35px;
    position: relative;
    top: -50px;
    right: -50px;
}

.confirma{
    font-weight: 600;
    color: #003366
}

.endUnid{
    width: 40%;
    margin-top: 5%;
}
h1{
    font-size:1.6em;
    text-align: center;
}
   
.setinha{
    
     width:40px;
   
   }
   
   #seta{
   margin-left: -300px;
    width:50px;
   
    }

 
