.header {
    width: 100vw;
    height: 80px;
  }
  
  .logo {
    width: 2.7em;
    height: 2.7em;
    margin-left: 20px;
  }
  
  .hamburger{
    width: 80px;
    height: 100%;
  }
  
  .hamburger svg{width: 1.3em;}
  
  .fullnav {
    bottom: 0%;
    top: 0%;
    flex-flow: column;
    align-items: center;
    right: -100vw;
    background: #051523;
  }
  
  .menu {
    width: 100vw;
    overflow-y: scroll;
  }
  
  hr {
    width: 60vw;
    color: #c9c9c9;
    margin: 50px 0;
  }
  
  .menu-buttons {min-height: 350px;}
  
  .menu-buttons li {font-size: 1.7em}
  
  .menu-buttons i {
    font-size: .9em;
    margin-right: 5px
  }
  
  .title, .subtitle {font-size: 1.4em;}
  
  .title {font-size: 1.5em}
  
  .profile-photo-menu {
    width: 18%;
    padding-top: 18%;
    border-radius: 150px;
    margin: 100px 0 20px;
  
  }
  
  .active-menu .fullnav {right: 0;}

  /********* INICIO CABECALHO****************/
  
  #cabecalho{
    padding-top:60px;
      width: 100%;
      height:260px;
      background-color: #003366;
     
  }
  #seta{
    margin-left:20px;
    margin-top: 20px;  
  }
   #sala{
    color:white;
    font-family: Roboto;
    font-size: 0.925em;
    font-weight: bold;
    text-align:center;
    padding:1px;
    background-color:#00cccc;
    width:100px;
    height:100px;
    border-radius: 50%;
   position:absolute;
    left:50%;
    margin-left:-50px;
    display:flex;
    align-items: center;
    justify-content: center;
  
  
    }
  
  #infoCurso{
   text-align:center;
   margin-top:105px;
   color:white;
   font-size:1.2em;

  }
  

      /*************** LISTA DE ALUNOS *****************/
  
      span#numAluno {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
        text-align:left;
        

         }
      #dadosAluno{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
   justify-content: space-between;
    align-items:center;
    border-bottom:1px solid #ccc ;
    padding:10px 140px;
    margin-top:10px;
    color:black;
   
      }
      
      #imgAluno{
        margin-left: 10px;
        border-radius: 100%;
        width:95px;
        height: 95px;
      }
  
      p{
        text-align:center;
        font-size:0.8em;
      }
  
      #ocorrencia_nomeAluno{
        font-size: 1.4em;
      }  



      #conteudotab1 {
        display: flex;
          justify-content: center;
          
      }
      
      
      #linkAdd{
        width: 200px;
        margin: auto;
        height: 50px;
        font-size: 18px;
        background: rgb(1, 39, 77);
        font-weight: bold;
        color: rgb(255, 255, 255)!important;
        border: 0 none;
        cursor: pointer;
        padding-top: 15px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom:15px;
        margin-top:15px;
        border-radius: 12px;
        left:50%;
        display:flex;
        align-items: center;
        justify-content: center;
         
      }