.recebeDados{
    border: 1px solid #000;
    margin-top: 10px;
}


*{
    margin:0;
    padding:0;
}

body{
    background-color: #fff
}

.headerPrimeiroAcesso{
   display: none
}

.acessoUm{
    display: none;
   
}

.acessDenied{
    text-align: center;
}

.acessDenied p{
    color: #666;
    font-size: 60px;
    font-weight: bolder;
    
}

.acessDenied span{
    color: #666;
    font-weight: lighter;
    font-size: 26px;
    max-width: 90%
}