.header {
  width: 100vw;
  height: 70px;
}

.logo {
  width: 2.6em;
  height: 2.6em;
  margin-left: 15px;
}

.hamburger{
  width: 70px;
  height: 100%;
}

.hamburger svg{
  width: 1.2em;
}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #051523;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
}

hr {
  width: 75vw;
  color: #c9c9c9;
  margin: 30px 0;
}

.menu-buttons {min-height: 350px;}

.menu-buttons li {font-size: 1.6em}

.menu-buttons i {
  font-size: .9em;
  margin-right: 4px
}

.title, .subtitle {font-size: 1.3em;}

.title {font-size: 1.4em}

.profile-photo-menu {
  width: 25%;
  padding-top: 25%;
  border-radius: 160px;
  margin: 70px 0 20px;
}

.active-menu .fullnav {right: 0;}



*:not(i) {font-family: Roboto!important;}


main {
  width: 100vw;
  min-height: 100vh;
  padding: 80px 20px 0 30px;
  background: #f7f7f7; /*ou FAFEFE*/
}

.greetings {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 54px;
  background-color: rgba(0, 204, 204, .5);
  flex-shrink: 0;
  position: relative;
  margin: 0 15px;
  order: 1;
}

.profile-photo a {
    background: #f33;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
}

.greetings h1 {
  font-size: 1.75;
  font-weight: bold;
  color: #036;
  width: 190px;
  order: 2;
}

.block {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.block.um {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px -2px 17px 5px rgba(0, 43, 56, 0.04);
}

.scroll-box{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.schedule {
  height: 200px;
  color: #9e9c9c;
  margin: 10px;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #036;
  text-align: left;
  margin: 0 0 10px 0;
}

.um h2{
  margin: 30px 0 10px 0;
}

.schedule .item {
  max-width: 330px;
  min-height: calc(75px + 1vh);
  background-color: #e8e5e5;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row;
  border-radius: 20px
}

.schedule .select-item {
  background-color: #0cc;
  color: white;
}

.schedule .select-item i{
  width: 38px;
  height: 38px;
  font-size: .9em;
  border-radius: 23px;
  color: #fff;
  background-color: #036;
  border: 4px solid #0cc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px
}

.schedule .item .hour {
  width: 100px;
  font-size: 2.1em;
  font-weight: bold;
  border-right: solid 3px white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule .item div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  position: relative;
}

.schedule .item div span{
  font-size: 1.3em;
  padding: 0 10px;
  font-weight: normal;
}

.schedule .item div span:nth-child(3) {
  font-weight: bold;
}

.standard-btn {
  width: 220px;
  height: 35px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0cc;
}






.calendario {
  max-width: 400px;
  height: 400px;
  padding: 20px;
  color: #313131;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 17px 5px rgba(0, 43, 56, 0.04);
}






}

.calendario h2 {
  margin: 0 0 15px 0;
}

.calendario table {
  width: 100%;
}

.calendario .mes_title td{
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 20px;
}

.calendario .ano td{
  font-size: .9em;
  font-weight: normal;
  display: table-row;
}

.calendario .mes tr{
  font-size: 0.9em;
  font-weight: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendario .mes td {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px
}

.calendario .mes .select-date {
  background-color: #0cc;
  border-radius: 20px
}





.locked-background {
  display: flex;
  justify-content: center;
}

.notif {
  width: 100%;
  height: 400px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px -2px 17px 5px rgba(0, 43, 56, 0.04);
}

.notif .scroll-box {
  width: 100%;
  height: 100%;
}

.notif-item {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: #dae5ec;
  margin-bottom: 10px;
}

.close i{
  display: none;
}

@media (min-width: 690px) {

  main{
    display: inline-grid;
    grid-template-columns: 25% 25% 20% 20%;
    grid-template-rows: 150px 340px 250px 200px;
    grid-column-gap: 3.3%;
    grid-row-gap: 25px;
  }

  .greetings {
    grid-column: 1/5;
    grid-row: 1/1;
  }

  .um {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .dois {
    grid-column: 3/5;
    grid-row: 2/4;
  }

  .locked-background {
    grid-column: 1/3;
    grid-row: 3/4;
}
 }
