html {overflow-x: hidden;}

.hamburger {display: none;}

.menu ul li, .menu ul a {
  list-style: none;
  color: #012;
}

.title, .subtitle {margin: 0px;}

.title {font-weight: normal;}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 3;
  transition: ease .2s;
  width: 100vw;
  height: 75px;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 20px;
}

.menu-buttons {
  width: 45vw;
  padding-right: 30px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  color: #012;
}

.menu-buttons li {
  font-size: 1.15em;
  margin: 10px;
  font-weight: 600;
}

.login-btn {order: 1;}

.login-btn a {
  color: #fff!important;
  font-weight: 400;
  background-color: rgba(0, 205, 205, 0.7);;
  padding: 7px 20px;
  border-radius: 5px;
  text-align: center;
}

main {
  display: flex;
  background-color: #f5f6f6;
  padding-top: 75px;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.termos {
  padding: 30px 100px 100px;
  margin-bottom: 100px;
  max-width: 768px;
  box-shadow: 0px -2px 17px 5px rgba(0, 43, 56, 0.04);
  background-color: #fff;
}

/*
.Ancoragem {
  position: fixed;
  height: calc(100vh - 75px);
  background: #fff;
  left: 0;
  padding: 15px 15px 15px 30px;
}

.Ancoragem ul {text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
}
*/

h1 {font-size: 1.8em}

h1, h2 {margin-bottom: 20px}

.termos, .termos h2, .termos h1, .Ancoragem a {
  font-weight: 500;
  color: #151515
}

.termos section {
  padding: 30px 0;
}

.termos br {padding-top: 20px;}

.termos p {
  font-size: 1.1em;
  font-weight: 400;
}



footer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a, p a, h1 a {
  margin: 10px 0;
  color: #09f;
  font-weight: 400;
}

footer a:first-child{
  color: #ccc;
  font-size: 1.5em
}

footer .selecionado {color: #ccc;}
















/**/
