.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .97);
  position: fixed;
  z-index: 3;
  transition: ease .2s;
}

.hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
.active-menu .header {background-color: rgba(255, 255, 255, 0)}*/

.fullnav {
  position: fixed;
  z-index: 2;
  display: flex;
  transition: all .4s;
}

.menu {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-overflow-scrolling: touch;
}

.menu ul li, .menu ul a {
  list-style: none;
  color: #012;
}

.menu ul {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.menu-buttons {justify-content: space-around;}

.title, .subtitle {margin: 0px;}

.title {font-weight: normal;}


.header {
  width: 100vw;
  height: 60px;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}

.hamburger{
  width: 60px;
  height: 100%;
}

.hamburger svg{width: 1.2em;}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #fff;
  color: #012;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
  justify-content: space-around;
}

.menu-buttons {min-height: 60vh;}

.menu-buttons li {font-size: 1.5em}


.title, .subtitle {font-size: 1.2em;}

.title {font-size: 1.3em}

.active-menu .fullnav {right: 0;}



main {
  display: flex;
  padding-top: 75px;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.termos {padding: 30px;}


h1 {font-size: 1.8em}

h1, h2 {margin-bottom: 20px}

.termos, .termos h2, .termos h1, .Ancoragem a {
  font-weight: 500;
  color: #151515
}

.termos section {
  padding: 30px 0;
}

.termos br {padding-top: 20px;}

.termos p {
  font-size: 1.1em;
  font-weight: 400;
}



footer {
  margin: 50px;
  border-top: solid #ccc 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a, p a  {
  margin: 10px 0;
  color: #09f;
  font-weight: 400;
}

footer a:first-child{
  color: #ccc;
  font-size: 1.5em
}

footer .selecionado {color: #ccc;}







.registro{
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 25px;
}

.registro h2{
  margin: 0 0 30px 5px;
  font-weight: 300;
  color: #012;
  font-size: 2.2em;
}

.registro input, .registro textarea{
  width: 100%;
  height: 45px;
  border: solid 1px grey;
  border-radius: 25px;
  padding: 0 20px;
  transition: .4s;
  font-size: 1em
}

.registro textarea{
  height: 100px;
  padding: 15px 20px;
  border-radius: 20px;
}

.registro input:focus, .registro textarea:focus{
  border-color: #0cc;
  outline: none;
}

.registro input[type=submit]{
  height: 45px;
  border: none;
  background-color: #012;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.registro p, .registro a, .registro .erro{
  font-weight: 300;
  color: grey;
  text-align: center;
  max-width: 250px;
  margin-bottom: 5px;
}

.registro a {
  color: #09f;
}

















/**/
