.header {
    width: calc(100vw - 280px);
    height: 7vh;
    position: absolute;
    background: none;
    
  }
  
  .logo {
    position: relative;
    left: calc(100vw - 2em - 8px);
    top: 5px;
    width: 2em;
    height: 2em;
  }
  
  .header .st0{fill:#fff;}
  .header .st1{fill:#fff;}
  .header .st2{fill:#fff;}
  .header .st3{fill:#fff;}
  
  .hamburger{display: none!important;}
  
  .fullnav {
    width: 280px;
    bottom: 0%;
    top: 0%;
    right: 0;
    background: rgba(0,204,204,1);
    background: linear-gradient(to bottom, rgba(0,204,204,1) 0%, rgba(0,204,204,1) 30%, rgba(0,102,204,1) 100%);
  }
  
  .menu {
    width: 230px;
    justify-content: space-around;
    background: #051523;
  }
  
  hr {display: none; border: none;}
  
  .menu-buttons {
    margin-top: calc(60px + 5vh);
    flex-grow: 2;
    align-items: flex-end!important;
    position: relative;
    right: -57px
  }
  
  .menu-buttons li a{
    font-size: 1em;
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
  }
  
  .menu-buttons i {
    font-size: 1.3em;
    margin-left: 60px
  }
  
  .title, .subtitle {font-size: 1em;}
  
  .title {font-size: 1em}
  
  .profile-photo-menu {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: calc(30px + 3vh) 0 30px;
  }
  
  main {background-color: #f1f1f1; width: 100vw; height: 100vh; }
  
  
  
  /****/
  table{
      display:inline-block;
      
      
  }

  #addNotas_hidden{
      display:none;
  }
  .headerNotas{
      width:100%;
      height: 15vh;
      background-color: #006699;
      display: flex;
      justify-content: flex-start;
      padding: 5px;
      
      
  }
  .circulo-box{
      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height:70px;
      background-color: #003366;
      border-radius: 50%;
      color:white;
      line-height:1;
      font-family: Roboto;
      text-align: center;
      margin: 5px;
  }
  
  input[type="number"]{
      width: 70px;
  }
  
  input[type="text"]{
      width: 300px;
  }
  
  input{
      font-weight: 700;
      font-size: 16px;
      height: 30px;
      text-align: center;
      margin: 0.5px;
  }
  
  th{
      font-size:20px;
      margin-bottom: 15px;
  }
  
  select{
      font-size: 20px;
      text-align: center;
  }
