.header { background-color: transparent;
    width: calc(100% - 280px);
    height: 7vh;
  }

  .logo {
    position: relative;
    left: calc(100% - (-15em));
    top: 5px;
    width: 2em;
    height: 2em;
  }

  .header .st0{fill:#fff;}
  .header .st1{fill:#fff;}
  .header .st2{fill:#fff;}
  .header .st3{fill:#fff;}

  .hamburger{display: none!important;}

  .fullnav {
    width: 280px;
    bottom: 0%;
    top: 0%;
    right: 0;
    background: rgba(0,204,204,1);
    background: linear-gradient(to bottom, rgba(0,204,204,1) 0%, rgba(0,204,204,1) 30%, rgba(0,102,204,1) 100%);
  }

  .menu {
    width: 230px;
    justify-content: space-around;
    background: #051523;
  }

  hr {display: none; border: none;}

  .menu-buttons {
    margin-top: calc(60px + 5vh);
    flex-grow: 2;
    align-items: flex-end!important;
    position: relative;
    left: 25px;
    width: 280px;
  }

  .menu-buttons li{padding: 10px; width: 100%}

  .menu-buttons li:hover{background: linear-gradient(to right, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 0.596) 100%);}


  .menu-buttons li a{
    font-size: 1em;
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
  }

  .menu-buttons i {
    font-size: 1.3em;
    margin-left: 60px
  }

  .title, .subtitle {font-size: 1em;}

  .title {font-size: 1em}

  .profile-photo-menu {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: calc(30px + 3vh) 0 30px;
  }




main {
  position: absolute;
  top:20px;
  width: calc(100% - 280px);
  height: 100vh;
  overflow-y: scroll;
  padding: 90px 65px 0;
  background: #F7FDFD; /*ou FAFEFE*/

}


::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0);
  width: 8px;
  height: 8px;
}

:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 2s linear;
}

:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    height: 50%;
}

:active::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
}


.greetings {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}


.banner {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  height: 268px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #8DBFE8;
  color: white
}

h2, h1 {
  font-size: 1.3em;
  margin: 3px;
}

h2 {
  font-weight: bold;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #0cc;
  flex-shrink: 0;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
outline: none; }

.tabs {
display: block;
display: -webkit-flex;
display: -moz-flex;
display: flex;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
overflow: hidden;
padding-top: 250px
}
#nometab{
color:#003366;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
color: #003366;
cursor: pointer;
display: block;
font-size: 1.1em;
font-weight: bold;
line-height: 1em;
padding: 1rem 0;
text-align: center;
font-family:roboto;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
border-bottom: 1px solid rgba(239, 237, 239, 0.5);
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: block;
width: 100%;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid #003366;

}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #003366;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}


.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tabs .tab-2 {
width: 50%;

}

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
 }

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

.info-aluno label{
  color: #333!important;
  font-weight: lighter!important;
  text-align: left!important;
}

.info-aluno input {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  color: #333;
  border: none;
  text-align: center;
  font-weight: bold;
}

.info-aluno p {
  display: inline-block;
  width: 100%
}

.info-aluno p:nth-child(2), .info-aluno p:nth-child(3) {
  width: 49%!important;
}

.info-aluno p:nth-child(2) input, .info-aluno p:nth-child(3) input {
  width: 100%;
  }




#conteudotab2 .item-ocorre p, #conteudotab2 .item-ocorre h3 {
  font-size: 1em;
}

#conteudotab2 .item-ocorre p{
  margin-bottom: 30px;
}

#conteudotab2 .item-ocorre h3{
  font-weight: bold;
}

.item-ocorre hr {
  width: 75%;
  border: solid .5px #333
}



.setinha{
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: -30px;

}
