.header {
  width: 100vw;
  height: 60px;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
}

.hamburger{
  width: 60px;
  height: 100%;
}

.hamburger svg{width: 1.2em;}

.fullnav {
  bottom: 0%;
  top: 0%;
  flex-flow: column;
  align-items: center;
  right: -100vw;
  background: #051523;
}

.menu {
  width: 100vw;
  overflow-y: scroll;
  justify-content: space-around;
}

.menu ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  margin-top: 90px;
}

hr {
  width: 75vw;
  color: #c9c9c9;
  margin: 15px 0;
}

.menu-buttons {min-height: 50vh;}

.menu-buttons li {font-size: 1.5em}

.menu-buttons i {
  font-size: .8em;
  margin-right: 4px
}

.title, .subtitle {font-size: 1.2em;}

.title {font-size: 1.3em}

.profile-photo-menu {
  width: 33%;
  padding-top: 33%;
  border-radius: 70px;
  margin: 60px 0 10px;
}

.active-menu .fullnav {right: 0;}




main {
  padding: 70px 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0);
  width: 8px;
  height: 8px;
}

:hover::-webkit-scrollbar-track {
    background-color: #ebfaff;
    transition: 2s linear;
}

:hover::-webkit-scrollbar-thumb {
    background-color: #002c58;
    height: 50%;
}

:active::-webkit-scrollbar-thumb {
    background-color: #012;
}

form {
  max-width: 700px;
  margin: 30px 0 90px;
  padding-top: 30px;
  border-top: solid #d2d2d2 1px;
  display: flex;
  flex-flow: wrap;
  color: #252525;
  font-family: Roboto;
}

h1 {width: 700px;}

form .conta-edit {

}

form .foto-edit {
  margin-left: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*.foto-edit .foto-perfil {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 75px;
  background: #d2d2d2;
  margin: 10px;
}
/*
.foto-perfil label {display: none;
transition: 4s;
transition-property: all;
transition-timing-function: ease;
transition-delay: 0s;}
*/
.foto-perfil label {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: -105px;
  right: -105px;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(0, 17, 34, 0.8);
}
*/
form .confirmar {width: 100%}

.grupo-form, .foto-edit {
  max-width: 500px;
  min-height: 100px;
  padding: 15px 0;
}

form label{
  font-weight: bolder;
  font-size: 1em;
}

.grupo-form input {
  width: 280px;
  height: 35px;
  border-radius: 3px;
  background: #fbfbfb;
  border: solid 1px #d2d2d2;
  padding: 0 7px;
  margin: 5px 0;
  font-weight: bold;
}

.grupo-form input:focus {
  background: white;
  transition: .4s;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.nota-input {
  max-width: 300px;
  padding: 5px 0;
  font-size: 0.8em;
  font-weight: bold;
}

.btn-conf{
  border-radius: 5px;
  border: none;
  background: #012;
  color: #fff;
  font-weight: bolder;
}

.btn-conf:hover {background-color: #042240!important}
.btn-conf:focus {background: #042240!important}
.btn-conf:active {background-color: #05396d!important}

#block, #conf-senha {display: none}

.block {
  display: flex!important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(88, 88, 88, 0.25);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9;
}

.conf-senha {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0 ;
  z-index: 10;
  background-color: #fff;
  border-radius: 10px;
  display: flex!important;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
  margin: auto;
  padding: 30px;
}

.conf-senha input {width: 100%}

.conf-senha .btn-pronto {
  background-color: #0cc;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-pronto:hover {background-color: #0ac}
.btn-pronto:focus {background-color: #0ac!important}
.btn-pronto:active {background-color: #0085cc!important}

.conf-senha input, .conf-senha label {margin: 10px 0;}

.form {
  flex-direction: column;
}

.form label {margin-bottom: 15px}

h1 {
  width: 280px;
  text-align: center;
}

.foto-edit {
  order: 0;
  margin: 0!important;
  padding: 0;
  height: 220px;
}

.conta-edit {
  order: 1;
}

.confirmar {
  order: 2;
  display: flex;
}

.btn-conf{
  margin-top: 10px;
  height: 40px;
  width: 220px;
}

















/**/
